In [5]:
import pandas as pd
from fuzzywuzzy import fuzz

In [2]:
df = pd.read_csv('../data/external/room_type.csv')

In [3]:
df.head()

,Expedia,Booking.com
0,"Deluxe Room, 1 King Bed",Deluxe King Room
1,"Standard Room, 1 King Bed, Accessible",Standard King Roll-in Shower Accessible
2,"Grand Corner King Room, 1 King Bed",Grand Corner King Room
3,"Suite, 1 King Bed (Parlor)",King Parlor Suite
4,"High-Floor Premium Room, 1 King Bed",High-Floor Premium King Room

In [6]:
df.iloc[3]['Expedia']

'Suite, 1 King Bed (Parlor)'

In [7]:
df.iloc[3]['Booking.com']

'King Parlor Suite'

In [8]:
#Test fuzz Ratio to select the best Fuzz to use
fuzz.ratio(df.iloc[3]['Expedia'], df.iloc[3]['Booking.com'])

51

In [9]:
#Test fuzz Partial Ratio to select the best Fuzz to use
fuzz.partial_ratio(df.iloc[3]['Expedia'], df.iloc[3]['Booking.com'])

65

In [10]:
#Test fuzz Token Sort Ratio to select the best Fuzz to use
fuzz.token_sort_ratio(df.iloc[3]['Expedia'], df.iloc[3]['Booking.com'])

85

In [11]:
#Test fuzz Token Sort Ratio to select the best Fuzz to use
fuzz.token_set_ratio(df.iloc[3]['Expedia'], df.iloc[3]['Booking.com'])

100

In [12]:
calc_ratio, calc_partial_ratio, calc_token_sort_ratio, calc_token_set_ratio = [], [], [],[]

def fuzz_add_columns(token_a, token_b):
  calc_ratio.append(fuzz.ratio(token_a, token_b))
  calc_partial_ratio.append(fuzz.ratio(token_a, token_b))
  calc_token_sort_ratio.append(fuzz.token_sort_ratio(token_a, token_b))
  calc_token_set_ratio.append(fuzz.token_set_ratio(token_a, token_b))

In [13]:
for index, rows in df.iterrows(): 
  fuzz_add_columns(rows['Expedia'], rows['Booking.com'])

In [14]:
df['calc_ratio'] = calc_ratio
df['calc_partial_ratio'] = calc_partial_ratio
df['calc_token_sort_ratio'] = calc_token_sort_ratio
df['calc_token_set_ratio'] = calc_token_set_ratio

In [15]:
df.head()

,Expedia,Booking.com,calc_ratio,calc_partial_ratio,calc_token_sort_ratio,calc_token_set_ratio
0,"Deluxe Room, 1 King Bed",Deluxe King Room,62,62,84,100
1,"Standard Room, 1 King Bed, Accessible",Standard King Roll-in Shower Accessible,68,68,78,81
2,"Grand Corner King Room, 1 King Bed",Grand Corner King Room,79,79,80,100
3,"Suite, 1 King Bed (Parlor)",King Parlor Suite,51,51,85,100
4,"High-Floor Premium Room, 1 King Bed",High-Floor Premium King Room,76,76,90,100

In [17]:
df.describe()

,calc_ratio,calc_partial_ratio,calc_token_sort_ratio,calc_token_set_ratio
count,103.000000,103.000000,103.000000,103.000000
mean,56.650485,56.650485,71.815534,90.349515
std,17.391517,17.391517,13.711844,12.077940
min,21.000000,21.000000,33.000000,33.000000
25%,43.500000,43.500000,64.000000,84.000000
50%,56.000000,56.000000,72.000000,95.000000
75%,68.500000,68.500000,82.500000,100.000000
max,100.000000,100.000000,100.000000,100.000000